redirects: on

source C:\Projects\Packages
source https://nlundberg.remotewebaccess.com:10443/nuget/default
source https://api.nuget.org/v3/index.json

nuget NuGet.CommandLine
nuget Arbor.Castanea
nuget Arbor.KVConfiguration.SystemConfiguration prerelease
nuget Arbor.KVConfiguration.UserConfiguration prerelease
nuget Arbor.Sorbus
nuget Autofac
nuget FubuCsProjFile 
nuget JetBrains.Annotations
nuget Machine.Specifications.Should
nuget Microsoft.AspNet.Mvc
nuget Microsoft.AspNet.WebApi
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform
nuget Microsoft.Web.Xdt
nuget NLog
nuget NuGet.Packaging
nuget NUnit
nuget RefactoringEssentials
nuget StyleCop.Analyzers