<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Arbor.Aesculus" version="0.1.7" targetFramework="net45" />
  <package id="Arbor.Castanea" version="0.0.1" targetFramework="net451" />
  <package id="Arbor.Sorbus" version="0.1.1-build21" targetFramework="net451" />
  <package id="FubuCore" version="1.0.0.225" targetFramework="net451" />
  <package id="FubuCsProjFile" version="1.1.0.83" targetFramework="net451" />
  <package id="ILMerge" version="2.13.0307" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net451" />
  <package id="NUnit" version="2.6.3" targetFramework="net451" />
</packages>